@charset "utf-8";

html {
  font-family: 'Share Tech Mono', monospace;
}

header {
 margin-top: 15px;
}

body {
  min-height: 100vh;
  background-image: url('./img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
}

h6 {
  text-align: right;
  padding-right: 15px;
}

#menu {
  display: inline-flex;
  padding: 0;
  margin: 0 auto;
}

#menu ul {
  decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 25px;
  padding-top: 65px;
}

#menu ul li {
  display: inline;
  font-size: 1.8em;
  margin: 0 auto;
  padding: 0;
}

#menu ul li a {
  text-decoration: none;
  color: #000;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 16px;
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 30px;
}

#menu ul li a:hover {
  background-color: #000;
  color: #fff;
}

#menu_div {
  position: fixed;
  background-color: #fff;
  top: 14px;
  left: -890px;
  transition: 1.0s;
  padding-left: 45px;
}

#name {
  font-size: 2.1em;
  display: inline;
  position: fixed;
  top: 15px;
  right: 0px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 110px;
  background-color: #fff;
}

#name h4 {
  margin: 0 auto;
}

.column {
  float: left;
}

.column_left {
  width: 40%;
}

.column_right {
  width: 40%;
}

/*
  Menu icon styling
*/

#menu_icon {
  background-color: #fff;
  cursor: pointer;
  padding-left: 16px;
  padding-top: 10px;
  padding-right: 19px;
  padding-bottom: 14px;
  position: fixed;
  transition: 1.0s;
  z-index: 1;
}

#bar1, #bar2, #bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change #bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.change #menu_div {
  -webkit-transform: translateX(890px);
  transform: translateX(890px);
}

.change #menu_icon {
  -webkit-transform: translate(10vw, 0);
  transform: translate(10vw, 0);
}

@media screen and (max-width: 1080px) {

    #menu ul {
      padding-left: 0;
    }

    #menu ul li a {
      display: block;
      padding-left: 35px;
    }

    .column {
        width: 100%;
    }

    .change #menu_icon {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }

    .change #menu_div {
      -webkit-transform: translateX(840px);
      transform: translateX(840px);
    }
}
